.comment-blacklisted {
    display: none !important;
}

#settings-thumbnail-comment-blacklist-section-input {
    min-height: 14vh;
    font-family: monospace;
    font-size: 1.2em;
    overflow: hidden auto;
}
