/* Header Customizer Styles */
header#top nav#nav {

    menu.main.ui-sortable {
        padding: 0;

        @include desktop() {
            display: inline-flex; // Otherwise the right-aligned elements don't get aligned
        }

        li {
            padding: 6px 0;
            margin-right: 1px;
            display: inline-block; // Otherwise the placeholder does not show up
            height: auto !important; // Otherwise the placeholder increases line height

            &>a {
                outline: 0;
            }
        }

        &[data-editing=true] {
            li {
                background-color: #ffffff40;
            }

            li[align=true] {
                background-color: #ffaf9940;
            }
        }

        &:not([data-editing=true]) {
            li:not([align=true]) {
                order: 10;
            }

            li[align=true] {
                order: 20;

                &.margined {
                    margin-left: auto;
                }
            }
        }

        &[data-forumdot=true] {

            li>a.tab-has-updates::after {
                content: unicode('f111');
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 0.5em;
                color: red;

                position: absolute;
                top: -3px;
            }

        }

        a.tab-login {
            font-weight: 700;
            color: red;
        }
    }

}