// Sticky header
body {

    // Sticky search box
    &[sticky-search-box=true] aside#sidebar {

        div#re621-search,
        section#downloader-box,
        section#fav-downloader-box {
            position: sticky !important;
        }
    }


    // Sticky header
    &[sticky-header=true] {
        header#top {
            position: sticky;
            z-index: 400;
            top: -1px;
        }

        div#re621-search {

            // This is necessary to make the transition smooth
            margin-top: -3.5rem !important;
            padding-top: 3.5rem !important;

            &.re621-search-sticky {
                padding-top: 3.5rem !important;
            }
        }
    }


    // Sticky quick tags form
    &[sticky-edit-box=true] {
        div#quick-edit-div {
            position: sticky;
            top: 0;
            z-index: 400;
        }
    }

}
