@mixin spinner() {

    border: 0.5rem solid #ffffff30;
    border-top-color: #152f56;
    -webkit-animation: load8 2s infinite linear;
    animation: load8 2s infinite linear;
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;

    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}
